<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="{{ links.home.routerLink }}" (click)="isCollapsed = true">{{ title }}</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="{{ links.home.routerLink }}" (click)="isCollapsed = true">{{ links.home.intitule }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="{{ links.list.routerLink }}" (click)="isCollapsed = true">{{ links.list.intitule }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="{{ links.add.routerLink }}" (click)="isCollapsed = true">{{ links.add.intitule }}</a>
        </li>
      </ul>
    </div>
  </nav>
